/* background image */
body {
  background-image: url('../photo/starWarsBackground.jpg');
}
/* style for quiz wrapper */
#mainWrapper {
    margin: auto;
    background: black;
    padding: 10px;
    color: green;
    text-align: center;
    opacity: .75;
}
/* style for title banner */
#titleBanner {
    font-size:50px;
    color: gold;
    font-weight: 400;
}
