body {
  background-image: url('../photo/starWarsBackground.jpg');
}
/*

make the background image seethrough
img {
  align-self: center;
} */

#mainWrapper {
    margin: auto;
    background: black;
    padding: 10px;
    color: green;
    text-align: center;
    opacity: .75;
}


#titleBanner {
    font-size:50px;
    color: gold;
    font-weight: 400;
}
/* add so that the page is dynamic  */

/* text needs to be bold if the section is see through */
